@{
    ViewData["Title"] = "Naslovnica";
}

<div class="text-center">
   <h1>
       Dobro došli!
   </h1>
    <br />
    <p>
        Ovdje možete dodati i pogledati dostupne izlete po cijeloj Hrvatskoj
    </p>
</div>
